<h1>Your Profile</h1>
<div id="user-info">
    <p>{{user.first_name}} {{user.last_name}}
    <p>{{user.email}}
    <p>Age: {{user.age}}
    <p>City: {{user.city}}
    <p>Homepage URL: {{user.homepage}}
</div><br>
<form id="edit-profile" method="GET" action="/profile/edit">
    <input class="input-button" type="submit" value="EDIT PROFILE">
</form>
